div{
    height: 60px;
    border: 10px dotted green;
}
.block1{
    background-color: rgb(92, 112, 201);
}
.block2{
    background-color: rgb(230, 91, 11);
    position: absolute;
    z-index: 1;
    left: 20px;
}
.block3{
    background-color: rgb(85, 12, 12);     
}
#f{
    color: cadetblue;
}

